@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var imgPath = HttpContextAccessor.HttpContext?.Session.GetString("img") ?? "~/img/user.png";
    var isRole =  HttpContextAccessor.HttpContext.Session.GetInt32("isRole");
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
                  <div class="nav-align-top mb-4">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                      <li class="nav-item">
                        <button
                          type="button"
                          class="nav-link active"
                          role="tab"
                          data-bs-toggle="tab"
                          data-bs-target="#navs-justified-home"
                          aria-controls="navs-justified-home"
                          aria-selected="true"
                        >
                          <i class="tf-icons bx bx-user"></i> Thông tin cá nhân
                          
                        </button>
                        <hr class="my-0" />
                      </li>
                      <li class="nav-item">
                        <button
                          type="button"
                          class="nav-link"
                          role="tab"
                          data-bs-toggle="tab"
                          data-bs-target="#navs-justified-profile"
                          aria-controls="navs-justified-profile"
                          aria-selected="false"
                        >
                          <i class="fa-solid fa-lock"></i>  Đổi mật khẩu
                        </button>
                        <hr class="my-0" />
                      </li>
                    </ul>
                    <div class="tab-content">
                           <!--Thông tin cá nhân-->
                          <div class="tab-pane fade show active" id="navs-justified-home" role="tabpanel">
                          
                              <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="@Url.Content(imgPath)"
                                 alt="user-avatar"
                                 class="d-block rounded"
                                 height="100"
                                 width="100"
                                 id="uploadedAvatar" />
                            <div class="button-wrapper" >
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">Tải lên ảnh mới</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input type="file"
                                           id="upload"
                                           class="account-file-input"
                                           hidden
                                           accept="image/png, image/jpeg" />
                                </label>

                                <p class="text-muted mb-0">Chấp nhận định dạng JPG, GIF or PNG. Dung lượng nhỏ hơn 800K</p hidden>
                            </div>
                        </div>
                    </div>
                            <form id="formAccountSettings" method="POST" onsubmit="return false">
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="" class="form-label">Tên người dùng</label>
                                    <input type="text" class="form-control" id="acc_Login" name="" placeholder="" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Họ và tên</label>
                                    <input class="form-control"
                                           type="text"
                                           id="acc_fullname"
                                           name="firstName"
                                           value=""
                                           autofocus />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="" class="form-label">Sinh nhật</label>
                                    <input type="date" id="acc_birth" class="form-control">
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input class="form-control"
                                           type="text"
                                           id="acc_email"
                                           name="email"
                                           value=""
                                           placeholder="abc@example.com" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="" class="form-label">Giới tính</label>
                                    <select id="acc_gender" class="select2 form-select">
                                        <option value="0">Nam</option>
                                        <option value="1">Nữ</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="phoneNumber">Số điện thoại</label>
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">VN (+84)</span>
                                        <input type="text"
                                               id="acc_phoneNumber"
                                               name="phoneNumber"
                                               class="form-control"
                                               placeholder="987 654 321" />
                                    </div>
                                </div>
                                <div class="mb-3 col-md-12">
                                    <label for="address" class="form-label">Địa chỉ</label>
                                    <input type="text" class="form-control" id="acc_address" name="address" placeholder="Address" />
                                </div>
                                @if (isRole == 2)
                                    {
                                        <div class="mb-3 col-md-6">
                                            <label for="" class="form-label">CCCD</label>
                                            <input type="text" class="form-control" id="acc_CCCD" name="CCCD" placeholder="Số căn cước" />
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label for="" class="form-label">Thẻ bảo hiểm</label>
                                            <input type="text" class="form-control" id="acc_healthInsurance" name="HealthInsurance" placeholder="Số thẻ bảo hiểm" />
                                        </div>
                                    }
                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary me-2">Lưu thay đổi</button>
                            </div>
                        </form>
                          </div>
                           <!--Mật khẩu-->
                          <div class="tab-pane fade" id="navs-justified-profile" role="tabpanel">
                          <div class="container p-0">
                          <div class="row " style="width: 100%;">
                            <!-- Cột hình ảnh (bên trái) -->
                            <div class="col-md-6 text-center">
                              <img src="/img/changePass1.jpg" alt="Hình minh họa" class="img-fluid rounded" style="width: 50%;">
                            </div>

                            <!-- Cột form (bên phải) -->
                            <div class="col-md-6 pe-0" style="padding-left: 5rem !important">
                              <div class="mb-3">
                                <label for="old_password" class="form-label">Mật khẩu cũ</label>
                                <input type="password" class="form-control" id="old_password" placeholder="Nhập mật khẩu cũ">
                              </div>
                              <div class="mb-3 me-0">
                                <label for="new_password" class="form-label">Mật khẩu mới</label>
                                <input type="password" class="form-control" id="new_password" placeholder="Nhập mật khẩu mới">
                              </div>
                              <div class="mb-3">
                                <label for="confirm_password" class="form-label">Nhập lại mật khẩu</label>
                                <input type="password" class="form-control" id="confirm_password" placeholder="Xác nhận mật khẩu mới">
                              </div>
                              <div class="mt-4 w-100 text-center">
                                <button type="submit" class="btn btn-primary me-2">Đổi mật khẩu</button>
                            </div>
                            </div>
                          </div>
                        </div>
                        
                        </div>
                      </div>
                </div>



<script src="~/assets/vendor/Jquery/jquery.min.js"></script>
<script src="~/js/Notification.js"></script>
<script src="~/js/Account.js"></script>