@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
	var imgPath = HttpContextAccessor.HttpContext?.Session.GetString("img") ?? "~/img/user.png";
	var isRole = HttpContextAccessor.HttpContext.Session.GetInt32("isRole");
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
	<div class="row">
		<div class="col-12">
			<div class="card border-top border-primary">
				<input type="text" id="isRole" value="@isRole" hidden />
				<div class="card-body p-2" style="min-height: 700px;">
					<div class="mt-2 border border-primary" id="department_tb"></div>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="~/assets/vendor/Jquery/jquery.min.js"></script>
<script src="~/js/AccManager.js"></script>