@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-12 mb-4 order-0">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Chào mừng đến với Phòng khám Thăng Long! 🎉</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Thư ngỏ -->
        <div class="col-lg-12">
            <div class="card mt-4">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0 text-white">THƯ NGỎ CỦA GIÁM ĐỐC PHÒNG KHÁM</h5>
                </div>
                <div class="card-body mt-4" style="text-align: justify;">
                    <p><strong>Kính thưa Quý vị!</strong></p>

                    <p>
                        Thay mặt toàn thể cán bộ nhân viên Phòng khám Thăng Long, tôi xin chân thành cảm ơn sự tin tưởng và ủng hộ nhiệt thành của Quý vị dành cho chúng tôi để trao gửi sức khỏe của mình. Sự tin tưởng, ủng hộ của Quý vị là nguồn động lực quý báu, góp phần to lớn quyết định sự hình thành, phát triển và trưởng thành của Phòng khám.
                    </p>

                    <p>
                        Phòng khám Thăng Long được xây dựng với cơ sở vật chất – kỹ thuật hiện đại và khang trang, với các trung tâm chức năng như: Trung tâm xét nghiệm, Trung tâm khám sức khỏe, Trung tâm chẩn đoán hình ảnh, Trung tâm nội soi tiêu hóa, hệ thống phòng tiểu phẫu vô khuẩn 1 chiều,… Chúng tôi sở hữu các thiết bị y tế tiên tiến cùng đội ngũ giáo sư, bác sĩ là chuyên gia đầu ngành trong nước và quốc tế, cùng nhân viên chuyên nghiệp, tận tâm, nhiệt huyết với nghề.
                    </p>

                    <p>
                        Lấy mục tiêu “Làm tăng giá trị sống” là kim chỉ nam trong tất cả hoạt động, Phòng khám Thăng Long mong muốn đóng góp cho nền y tế Việt Nam một cơ sở khám chữa bệnh chuyên nghiệp, hiện đại và toàn diện. Chúng tôi luôn đặt sự hài lòng của khách hàng lên hàng đầu và cam kết mang đến các dịch vụ chất lượng cao, quy trình chăm sóc sức khỏe chu đáo, tận tình vượt ngoài mong đợi.
                    </p>

                    <p>
                        Hướng tới mục tiêu đạt các tiêu chuẩn chất lượng quốc tế trong thời gian tới, Phòng khám Thăng Long sẽ tiếp tục nỗ lực không ngừng để trở thành địa chỉ khám chữa bệnh uy tín, đáng tin cậy của Quý vị.
                    </p>

                    <p>
                        Phòng khám Thăng Long kính chúc Quý vị sức khỏe, thành công, hạnh phúc và thịnh vượng!
                    </p>

                    <p class="text-end mt-4">
                        Trân trọng!<br /><br />
                        <strong>Giám đốc</strong><br />
                        <em>Bệnh viện tư nhân Thăng Long</em>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
