@{
	Layout = null;
}
@model User

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Phòng khám Thăng Long</title>
	<meta name="description" content="">
	<meta name="keywords" content="">

	<link href="~/img/logoThangLong.svg" rel="icon">
	<link href="~/img/logoThangLong.svg" rel="apple-touch-icon">

	@* <link href="https://fonts.googleapis.com" rel="preconnect">
	<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
 *@

	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap&subset=vietnamese" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		  rel="stylesheet">
	<link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />
	<link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="~/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
	<link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

	<link href="~/assets/css/thangLongIndex.css" rel="stylesheet">
</head>

<body class="index-page">

	<header id="header" class="header sticky-top">
		<div class="branding d-flex align-items-center">
			<div class="container position-relative d-flex align-items-center justify-content-between">
				<a href="index.html" class="logo d-flex align-items-center me-auto">
					<h1 class="sitename">Thăng Long</h1>
				</a>
				<nav id="navmenu" class="navmenu">
					<ul>
						<li><a href="#hero" class="active">Trang chủ<br></a></li>
						<li><a href="#about">Thông tin</a></li>
						<li><a href="#services">Dịch vụ</a></li>
						<li><a href="#departments">Phòng khám</a></li>
						<li><a href="#doctors">Bác sĩ</a></li>
						<li><a href="#contact">Liên hệ</a></li>
					</ul>
					<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
				</nav>

				<a class="cta-btn d-none d-sm-block" href="@Url.Action("Login", "Home")">Đặt lịch ngay</a>

			</div>

		</div>

	</header>

	<main class="main">

		<!-- Hero Section -->
		<section id="hero" class="hero section light-background">

			<img src="~/img/hero-bg.jpg" alt="" data-aos="fade-in">

			<div class="container position-relative">

				<div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
					<h2>PHÒNG KHÁM THĂNG LONG</h2>
					<p>Vì một cuộc sống khỏe mạnh hơn mỗi ngày!</p>
				</div><!-- End Welcome -->

				<div class="content row gy-4">
					<div class="col-lg-4 d-flex align-items-stretch">
						<div class="why-box" data-aos="zoom-out" data-aos-delay="200">
							<h3>Nên chọn chúng tôi?</h3>
							<p>
								Phòng Khám Thăng Long mang đến dịch vụ y tế chất lượng với đội ngũ bác sĩ giàu kinh nghiệm và trang thiết bị hiện đại. Chúng tôi cam kết chẩn đoán chính xác, điều trị hiệu quả và chăm sóc tận tâm, đảm bảo sức khỏe tốt nhất cho bạn.
								Với phương châm <strong>“Sức khỏe của bạn – Trách nhiệm của chúng tôi”</strong>, chúng tôi luôn sẵn sàng đồng hành cùng bạn trên hành trình chăm sóc sức khỏe.
							</p>
							<div class="text-center">
								<a href="#about" class="more-btn"><span>Xem thêm</span> <i class="bi bi-chevron-right"></i></a>
							</div>
						</div>
					</div><!-- End Why Box -->

					<div class="col-lg-8 d-flex align-items-stretch">
						<div class="d-flex flex-column justify-content-center">
							<div class="row gy-4">

								<div class="col-xl-4 d-flex align-items-stretch">
									<div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
										<i class="fa-solid fa-seedling"></i>
										<h4>Dịch vụ chăm sóc tận tâm</h4>
										<p>Chúng tôi cam kết mang đến dịch vụ y tế chất lượng cao với đội ngũ bác sĩ giàu kinh nghiệm, tận tình và chu đáo.</p>
									</div>
								</div><!-- End Icon Box -->

								<div class="col-xl-4 d-flex align-items-stretch">
									<div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
										<i class="fa-solid fa-desktop"></i>
										<h4>Trang thiết bị hiện đại</h4>
										<p>Ứng dụng công nghệ tiên tiến giúp chẩn đoán chính xác và điều trị hiệu quả, mang lại sự an tâm cho bệnh nhân.</p>
									</div>
								</div><!-- End Icon Box -->

								<div class="col-xl-4 d-flex align-items-stretch">
									<div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
										<i class="fa-solid fa-calendar-days"></i>
										<h4>Đặt lịch dễ dàng, phục vụ nhanh chóng</h4>
										<p>Hệ thống đặt lịch online linh hoạt, giúp bạn tiết kiệm thời gian và nhận được sự chăm sóc y tế kịp thời.</p>
									</div>
								</div><!-- End Icon Box -->

							</div>
						</div>
					</div>
				</div><!-- End  Content-->

			</div>

		</section><!-- /Hero Section -->
		<!-- About Section -->
		<section id="about" class="about section">

			<div class="container">

				<div class="row gy-4 gx-5">

					<div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
						<img src="~/img/departments-3.jpg" class="img-fluid" alt="">
						<a href="https://www.youtube.com/watch?v=fBmN8UYIoRo&ab_channel=Digimedical-Truy%E1%BB%81nth%C3%B4ngYt%E1%BA%BF" class="glightbox pulsating-play-btn"></a>
					</div>

					<div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
						<h3>Về Chúng Tôi</h3>
						<p>
							Chúng tôi cam kết cung cấp dịch vụ y tế chất lượng cao với đội ngũ bác sĩ giàu kinh nghiệm, công nghệ tiên tiến và dịch vụ chăm sóc tận tâm.
						</p>
						<ul>
							<li>
								<i class="fa-solid fa-vial-circle-check"></i>
								<div>
									<h5>Chẩn đoán chính xác và nhanh chóng</h5>
									<p>Sử dụng các thiết bị y tế hiện đại giúp phát hiện bệnh sớm và đưa ra phương án điều trị hiệu quả nhất cho bạn.</p>
								</div>
							</li>
							<li>
								<i class="fa-solid fa-user-doctor"></i>
								<div>
									<h5>Đội ngũ bác sĩ tận tâm và giàu kinh nghiệm</h5>
									<p>Đội ngũ y bác sĩ chuyên môn cao, luôn lắng nghe và tư vấn tận tình, mang đến sự yên tâm cho từng bệnh nhân.</p>
								</div>
							</li>
							<li>
								<i class="fa-solid fa-comment-medical"></i>
								<div>
									<h5>Tư vấn sức khỏe cá nhân hóa</h5>
									<p>Đội ngũ chuyên gia tư vấn tận tình, giúp bạn xây dựng chế độ dinh dưỡng, lối sống lành mạnh và kế hoạch điều trị phù hợp với từng nhu cầu cụ thể.</p>
								</div>
							</li>
						</ul>
					</div>

				</div>

			</div>

		</section><!-- /About Section -->
		<!-- Stats Section -->
		<section id="stats" class="stats section light-background">

			<div class="container" data-aos="fade-up" data-aos-delay="100">

				<div class="row gy-4">

					<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
						<i class="fa-solid fa-user-doctor"></i>
						<div class="stats-item">
							<span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
							<p>Bác sĩ</p>
						</div>
					</div><!-- End Stats Item -->

					<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
						<i class="fa-regular fa-hospital"></i>
						<div class="stats-item">
							<span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
							<p>Phòng khám</p>
						</div>
					</div><!-- End Stats Item -->

					<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
						<i class="fas fa-flask"></i>
						<div class="stats-item">
							<span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
							<p>Phòng nghiên cứu</p>
						</div>
					</div><!-- End Stats Item -->

					<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
						<i class="fas fa-award"></i>
						<div class="stats-item">
							<span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
							<p>Giải thưởng</p>
						</div>
					</div><!-- End Stats Item -->

				</div>

			</div>

		</section>
		<!-- Services Section -->
		<section id="services" class="services section">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>Dịch vụ</h2>
				<p>Tham khảo các dịch vụ chính của chúng tôi</p>
			</div><!-- End Section Title -->

			<div class="container">

				<div class="row gy-4">

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
						<div class="service-item  position-relative">
							<div class="icon">
								<i class="fas fa-heartbeat"></i>
							</div>
							<a href="#" class="stretched-link">
								<h3>Khám tổng quát</h3>
							</a>
							<p>Kiểm tra sức khỏe định kỳ, phát hiện sớm các vấn đề sức khỏe và tư vấn điều trị kịp thời.</p>
						</div>
					</div><!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="fas fa-pills"></i>
							</div>
							<a href="#" class="stretched-link">
								<h3>Dịch vụ xét nghiệm</h3>
							</a>
							<p>Cung cấp các xét nghiệm máu, sinh hóa, miễn dịch, xét nghiệm cúm và hơn thế.</p>
						</div>
					</div><!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="fas fa-hospital-user"></i>
							</div>
							<a href="#" class="stretched-link">
								<h3>Khám và tư vấn chuyên khoa</h3>
							</a>
							<p>Bao gồm các chuyên khoa như nội khoa, nhi khoa, tai mũi họng, da liễu, sản phụ khoa, xương khớp...</p>
						</div>
					</div><!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="fas fa-dna"></i>
							</div>
							<a href="#" class="stretched-link">
								<h3>Tiêm chủng và vắc-xin</h3>
							</a>
							<p>Cung cấp các loại vắc-xin cho trẻ em, người lớn và vắc-xin phòng bệnh theo yêu cầu.</p>
							<a href="#" class="stretched-link"></a>
						</div>
					</div><!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
						<div class="service-item position-relative">
							<div class="icon">
								<i class="fas fa-notes-medical"></i>
							</div>
							<a href="#" class="stretched-link">
								<h3>Chẩn đoán hình ảnh</h3>
							</a>
							<p>Thực hiện siêu âm, X-quang, điện tâm đồ, nội soi giúp chẩn đoán chính xác bệnh lý.</p>
							<a href="#" class="stretched-link"></a>
						</div>
					</div><!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
						<div class="service-item position-relative">
							<div class="icon">
								
								<i class="fas fa-wheelchair"></i>
							</div>
							<a href="" class="stretched-link">
								<h3>Dịch vụ vật lý trị liệu & phục hồi chức năng</h3>
							</a>
							<p>Hỗ trợ điều trị các vấn đề xương khớp, thần kinh cơ, phục hồi chức năng sau tai biến.</p>
							<a href="#" class="stretched-link"></a>
						</div>
					</div><!-- End Service Item -->

				</div>

			</div>

		</section><!-- /Services Section -->
		<!-- Appointment Section -->
		<section id="appointment" class="appointment section pb-0">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>Đặt lịch khám</h2>
				<p>Đăng nhập để đặt lịch ngay và nhận nhiều ưu đãi!</p>
				<i class='bx bxs-hand-down bx-flip-vertical bx-tada' style="font-size: 60px; color: #2c4964;"></i>
				<form action="forms/appointment.php" method="post" role="form" class="php-email-form">
					<div class="mt-3">
						<div class="text-center"><button type="submit" onclick="window.location.href='@Url.Action("Login", "Home")'">Đặt lịch khám</button></div>
					</div>
				</form>
			</div><!-- End Section Title -->

		</section><!-- /Appointment Section -->
		<!-- Departments Section -->
		<section id="departments" class="departments section">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>Phòng khám</h2>
				<p>Các phòng khám hiện đại và đầy đủ tiện nghi</p>
			</div><!-- End Section Title -->

			<div class="container" data-aos="fade-up" data-aos-delay="100">

				<div class="row">
					<div class="col-lg-3">
						<ul class="nav nav-tabs flex-column">
							<li class="nav-item">
								<a class="nav-link active text-uppercase" data-bs-toggle="tab" href="#departments-tab-1">Chẩn đoán hình ảnh</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-uppercase" data-bs-toggle="tab" href="#departments-tab-2">Tiêm chủng & Vắc xin</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-uppercase" data-bs-toggle="tab" href="#departments-tab-3">Nội tổng quát</a>
							</li>
							<li class="nav-item">
								<a class="nav-link  show text-uppercase" data-bs-toggle="tab" href="#departments-tab-4">Xét nghiệm tổng quát</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-uppercase" data-bs-toggle="tab" href="#departments-tab-5">Trị liệu – Phục hồi chức năng</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-9 mt-4 mt-lg-0">
						<div class="tab-content">
							<div class="tab-pane active show" id="departments-tab-1">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>Phòng khám Chẩn đoán hình ảnh hiện đại</h3>
										<p class="fst-italic">Ứng dụng công nghệ tiên tiến trong hỗ trợ chẩn đoán và điều trị</p>
										<p>Chúng tôi cung cấp các dịch vụ chẩn đoán hình ảnh như siêu âm, X-quang, CT-Scan, MRI, với trang thiết bị hiện đại cho phòng khám đạt chuẩn quốc tế. Đội ngũ kỹ thuật viên giàu kinh nghiệm phối hợp cùng bác sĩ chuyên khoa để đảm bảo quá trình chụp ảnh diễn ra nhanh chóng, an toàn và chính xác.</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="departments-tab-2">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>Phòng khám Tiêm chủng & Vắc xin an toàn</h3>
										<p class="fst-italic">Bảo vệ sức khỏe gia đình bạn bằng lịch tiêm chủng đầy đủ và đúng chuẩn</p>
										<p>Dịch vụ tiêm ngừa cho trẻ sơ sinh, trẻ em, người lớn và người cao tuổi. Hệ thống lưu trữ và nhắc lịch tiêm tự động, đảm bảo không bỏ sót mũi tiêm nào. Vắc xin luôn được bảo quản trong điều kiện nghiêm ngặt, đảm bảo hiệu lực và an toàn tối đa.</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="departments-tab-3">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>Phòng khám Nội tổng quát</h3>
										<p class="fst-italic">Tư vấn, kiểm tra và điều trị các vấn đề sức khỏe thường gặp</p>
										<p>Khám và điều trị các bệnh lý nội khoa như huyết áp, tim mạch, tiểu đường, tiêu hóa, hô hấp,... Phù hợp với mọi đối tượng từ trẻ em đến người lớn tuổi. Quy trình khám nhanh gọn, bác sĩ lắng nghe kỹ lưỡng và đưa ra hướng dẫn chăm sóc tại nhà hiệu quả.</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="departments-tab-4">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>Phòng khám Xét nghiệm hiện đại</h3>
										<p class="fst-italic">Đảm bảo kết quả chính xác – nhanh chóng – bảo mật tuyệt đối</p>
										<p>Hệ thống phòng xét nghiệm đạt tiêu chuẩn quốc tế, thực hiện các xét nghiệm máu, nước tiểu, sinh hóa, huyết học, miễn dịch… Kết quả được trả nhanh chóng trong ngày, tích hợp với hồ sơ bệnh án điện tử để hỗ trợ bác sĩ chẩn đoán chính xác.</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
									</div>
								</div>
							</div>
							<div class="tab-pane" id="departments-tab-5">
								<div class="row">
									<div class="col-lg-8 details order-2 order-lg-1">
										<h3>Phòng khám Trị liệu – Phục hồi chức năng</h3>
										<p class="fst-italic">Hỗ trợ điều trị và phục hồi sau chấn thương, tai biến, thoái hóa</p>
										<p>Cung cấp các liệu trình vật lý trị liệu, xoa bóp bấm huyệt, điện trị liệu, sóng xung kích… giúp cải thiện chức năng vận động, giảm đau và phục hồi thể trạng. Phù hợp cho bệnh nhân chấn thương thể thao, sau phẫu thuật hoặc thoái hóa tuổi già.</p>
									</div>
									<div class="col-lg-4 text-center order-1 order-lg-2">
										<img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section><!-- /Departments Section -->
		<!-- Doctors Section -->
		<section id="doctors" class="doctors section">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>Bác sĩ</h2>
				<p>Đội ngũ bác sĩ giầu kinh nghiệm và tận tâm với bệnh nhân</p>
			</div><!-- End Section Title -->

			<div class="container">

				<div class="row gy-4">

					<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
						<div class="team-member d-flex align-items-start">
							<div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
							<div class="member-info">
								<h4>Walter White</h4>
								<span>Chief Medical Officer</span>
								<p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
								<div class="social">
									<a href=""><i class="bi bi-twitter-x"></i></a>
									<a href=""><i class="bi bi-facebook"></i></a>
									<a href=""><i class="bi bi-instagram"></i></a>
									<a href=""> <i class="bi bi-linkedin"></i> </a>
								</div>
							</div>
						</div>
					</div><!-- End Team Member -->

					<div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
						<div class="team-member d-flex align-items-start">
							<div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
							<div class="member-info">
								<h4>Sarah Jhonson</h4>
								<span>Anesthesiologist</span>
								<p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
								<div class="social">
									<a href=""><i class="bi bi-twitter-x"></i></a>
									<a href=""><i class="bi bi-facebook"></i></a>
									<a href=""><i class="bi bi-instagram"></i></a>
									<a href=""> <i class="bi bi-linkedin"></i> </a>
								</div>
							</div>
						</div>
					</div><!-- End Team Member -->

					<div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
						<div class="team-member d-flex align-items-start">
							<div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
							<div class="member-info">
								<h4>William Anderson</h4>
								<span>Cardiology</span>
								<p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
								<div class="social">
									<a href=""><i class="bi bi-twitter-x"></i></a>
									<a href=""><i class="bi bi-facebook"></i></a>
									<a href=""><i class="bi bi-instagram"></i></a>
									<a href=""> <i class="bi bi-linkedin"></i> </a>
								</div>
							</div>
						</div>
					</div><!-- End Team Member -->

					<div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
						<div class="team-member d-flex align-items-start">
							<div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
							<div class="member-info">
								<h4>Amanda Jepson</h4>
								<span>Neurosurgeon</span>
								<p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
								<div class="social">
									<a href=""><i class="bi bi-twitter-x"></i></a>
									<a href=""><i class="bi bi-facebook"></i></a>
									<a href=""><i class="bi bi-instagram"></i></a>
									<a href=""> <i class="bi bi-linkedin"></i> </a>
								</div>
							</div>
						</div>
					</div><!-- End Team Member -->

				</div>

			</div>

		</section><!-- /Doctors Section -->
		<!-- Faq Section -->
		<section id="faq" class="faq section light-background">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>Frequently Asked Questions</h2>
				<p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
			</div><!-- End Section Title -->

			<div class="container">

				<div class="row justify-content-center">

					<div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

						<div class="faq-container">

							<div class="faq-item faq-active">
								<h3>Non consectetur a erat nam at lectus urna duis?</h3>
								<div class="faq-content">
									<p>Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.</p>
								</div>
								<i class="faq-toggle bi bi-chevron-right"></i>
							</div><!-- End Faq item-->

							<div class="faq-item">
								<h3>Feugiat scelerisque varius morbi enim nunc faucibus?</h3>
								<div class="faq-content">
									<p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
								</div>
								<i class="faq-toggle bi bi-chevron-right"></i>
							</div><!-- End Faq item-->

							<div class="faq-item">
								<h3>Dolor sit amet consectetur adipiscing elit pellentesque?</h3>
								<div class="faq-content">
									<p>Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis</p>
								</div>
								<i class="faq-toggle bi bi-chevron-right"></i>
							</div><!-- End Faq item-->

							<div class="faq-item">
								<h3>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</h3>
								<div class="faq-content">
									<p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
								</div>
								<i class="faq-toggle bi bi-chevron-right"></i>
							</div><!-- End Faq item-->

							<div class="faq-item">
								<h3>Tempus quam pellentesque nec nam aliquam sem et tortor?</h3>
								<div class="faq-content">
									<p>Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in</p>
								</div>
								<i class="faq-toggle bi bi-chevron-right"></i>
							</div><!-- End Faq item-->

							<div class="faq-item">
								<h3>Perspiciatis quod quo quos nulla quo illum ullam?</h3>
								<div class="faq-content">
									<p>Enim ea facilis quaerat voluptas quidem et dolorem. Quis et consequatur non sed in suscipit sequi. Distinctio ipsam dolore et.</p>
								</div>
								<i class="faq-toggle bi bi-chevron-right"></i>
							</div><!-- End Faq item-->

						</div>

					</div><!-- End Faq Column-->

				</div>

			</div>

		</section><!-- /Faq Section -->
		<!-- Testimonials Section -->
		<section id="testimonials" class="testimonials section">

			<div class="container">

				<div class="row align-items-center">

					<div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
						<h3>Testimonials</h3>
						<p>
							Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
							velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
						</p>
					</div>

					<div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

						<div class="swiper init-swiper">
							<script type="application/json" class="swiper-config">
								{
								  "loop": true,
								  "speed": 600,
								  "autoplay": {
									"delay": 5000
								  },
								  "slidesPerView": "auto",
								  "pagination": {
									"el": ".swiper-pagination",
									"type": "bullets",
									"clickable": true
								  }
								}
							</script>
							<div class="swiper-wrapper">

								<div class="swiper-slide">
									<div class="testimonial-item">
										<div class="d-flex">
											<img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">
											<div>
												<h3>Saul Goodman</h3>
												<h4>Ceo &amp; Founder</h4>
												<div class="stars">
													<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
												</div>
											</div>
										</div>
										<p>
											<i class="bi bi-quote quote-icon-left"></i>
											<span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
											<i class="bi bi-quote quote-icon-right"></i>
										</p>
									</div>
								</div><!-- End testimonial item -->

								<div class="swiper-slide">
									<div class="testimonial-item">
										<div class="d-flex">
											<img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="">
											<div>
												<h3>Sara Wilsson</h3>
												<h4>Designer</h4>
												<div class="stars">
													<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
												</div>
											</div>
										</div>
										<p>
											<i class="bi bi-quote quote-icon-left"></i>
											<span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
											<i class="bi bi-quote quote-icon-right"></i>
										</p>
									</div>
								</div><!-- End testimonial item -->

								<div class="swiper-slide">
									<div class="testimonial-item">
										<div class="d-flex">
											<img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="">
											<div>
												<h3>Jena Karlis</h3>
												<h4>Store Owner</h4>
												<div class="stars">
													<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
												</div>
											</div>
										</div>
										<p>
											<i class="bi bi-quote quote-icon-left"></i>
											<span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
											<i class="bi bi-quote quote-icon-right"></i>
										</p>
									</div>
								</div><!-- End testimonial item -->

								<div class="swiper-slide">
									<div class="testimonial-item">
										<div class="d-flex">
											<img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="">
											<div>
												<h3>Matt Brandon</h3>
												<h4>Freelancer</h4>
												<div class="stars">
													<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
												</div>
											</div>
										</div>
										<p>
											<i class="bi bi-quote quote-icon-left"></i>
											<span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
											<i class="bi bi-quote quote-icon-right"></i>
										</p>
									</div>
								</div><!-- End testimonial item -->

								<div class="swiper-slide">
									<div class="testimonial-item">
										<div class="d-flex">
											<img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="">
											<div>
												<h3>John Larson</h3>
												<h4>Entrepreneur</h4>
												<div class="stars">
													<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
												</div>
											</div>
										</div>
										<p>
											<i class="bi bi-quote quote-icon-left"></i>
											<span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>
											<i class="bi bi-quote quote-icon-right"></i>
										</p>
									</div>
								</div><!-- End testimonial item -->

							</div>
							<div class="swiper-pagination"></div>
						</div>

					</div>

				</div>

			</div>

		</section><!-- /Testimonials Section -->
		<!-- Gallery Section -->
		<section id="gallery" class="gallery section">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>Gallery</h2>
				<p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
			</div><!-- End Section Title -->

			<div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

				<div class="row g-0">

					<div class="col-lg-3 col-md-4">
						<div class="gallery-item">
							<a href="assets/img/gallery/gallery-1.jpg" class="glightbox" data-gallery="images-gallery">
								<img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
							</a>
						</div>
					</div><!-- End Gallery Item -->

					<div class="col-lg-3 col-md-4">
						<div class="gallery-item">
							<a href="assets/img/gallery/gallery-2.jpg" class="glightbox" data-gallery="images-gallery">
								<img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
							</a>
						</div>
					</div><!-- End Gallery Item -->

					<div class="col-lg-3 col-md-4">
						<div class="gallery-item">
							<a href="assets/img/gallery/gallery-3.jpg" class="glightbox" data-gallery="images-gallery">
								<img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
							</a>
						</div>
					</div><!-- End Gallery Item -->

					<div class="col-lg-3 col-md-4">
						<div class="gallery-item">
							<a href="assets/img/gallery/gallery-4.jpg" class="glightbox" data-gallery="images-gallery">
								<img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
							</a>
						</div>
					</div><!-- End Gallery Item -->

					<div class="col-lg-3 col-md-4">
						<div class="gallery-item">
							<a href="assets/img/gallery/gallery-5.jpg" class="glightbox" data-gallery="images-gallery">
								<img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
							</a>
						</div>
					</div><!-- End Gallery Item -->

					<div class="col-lg-3 col-md-4">
						<div class="gallery-item">
							<a href="assets/img/gallery/gallery-6.jpg" class="glightbox" data-gallery="images-gallery">
								<img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
							</a>
						</div>
					</div><!-- End Gallery Item -->

					<div class="col-lg-3 col-md-4">
						<div class="gallery-item">
							<a href="assets/img/gallery/gallery-7.jpg" class="glightbox" data-gallery="images-gallery">
								<img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
							</a>
						</div>
					</div><!-- End Gallery Item -->

					<div class="col-lg-3 col-md-4">
						<div class="gallery-item">
							<a href="assets/img/gallery/gallery-8.jpg" class="glightbox" data-gallery="images-gallery">
								<img src="assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
							</a>
						</div>
					</div><!-- End Gallery Item -->

				</div>

			</div>

		</section><!-- /Gallery Section -->
		<!-- Contact Section -->
		<section id="contact" class="contact section">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>Contact</h2>
				<p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
			</div><!-- End Section Title -->

			<div class="mb-5" data-aos="fade-up" data-aos-delay="200">
				<iframe style="border:0; width: 100%; height: 270px;"
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.5481961026424!2d105.8148456!3d20.9761246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acef8ad5350f%3A0x89435a3528118ff5!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBUaMOgbmcgTG9uZw!5e0!3m2!1svi!2s!4v1710000000000!5m2!1svi!2s"
						frameborder="0"
						allowfullscreen
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade">
				</iframe>
			</div><!-- End Google Maps -->

			<div class="container" data-aos="fade-up" data-aos-delay="100">

				<div class="row gy-4">

					<div class="col-lg-4">
						<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
							<i class="bi bi-geo-alt flex-shrink-0"></i>
							<div>
								<h3>Location</h3>
								<p>A108 Adam Street, New York, NY 535022</p>
							</div>
						</div><!-- End Info Item -->

						<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
							<i class="bi bi-telephone flex-shrink-0"></i>
							<div>
								<h3>Call Us</h3>
								<p>+1 5589 55488 55</p>
							</div>
						</div><!-- End Info Item -->

						<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
							<i class="bi bi-envelope flex-shrink-0"></i>
							<div>
								<h3>Email Us</h3>
								<p>info@example.com</p>
							</div>
						</div><!-- End Info Item -->

					</div>

					<div class="col-lg-8">
						<form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
							<div class="row gy-4">

								<div class="col-md-6">
									<input type="text" name="name" class="form-control" placeholder="Your Name" required="">
								</div>

								<div class="col-md-6 ">
									<input type="email" class="form-control" name="email" placeholder="Your Email" required="">
								</div>

								<div class="col-md-12">
									<input type="text" class="form-control" name="subject" placeholder="Subject" required="">
								</div>

								<div class="col-md-12">
									<textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
								</div>

								<div class="col-md-12 text-center">
									<div class="loading">Loading</div>
									<div class="error-message"></div>
									<div class="sent-message">Your message has been sent. Thank you!</div>

									<button type="submit">Send Message</button>
								</div>

							</div>
						</form>
					</div><!-- End Contact Form -->

				</div>

			</div>

		</section><!-- /Contact Section -->

	</main>

	<footer id="footer" class="footer light-background">

		<div class="container footer-top">
			<div class="row gy-4">
				<div class="col-lg-4 col-md-6 footer-about">
					<a href="index.html" class="logo d-flex align-items-center">
						<span class="sitename">Medilab</span>
					</a>
					<div class="footer-contact pt-3">
						<p>A108 Adam Street</p>
						<p>New York, NY 535022</p>
						<p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
						<p><strong>Email:</strong> <span>info@example.com</span></p>
					</div>
					<div class="social-links d-flex mt-4">
						<a href=""><i class="bi bi-twitter-x"></i></a>
						<a href=""><i class="bi bi-facebook"></i></a>
						<a href=""><i class="bi bi-instagram"></i></a>
						<a href=""><i class="bi bi-linkedin"></i></a>
					</div>
				</div>

				<div class="col-lg-2 col-md-3 footer-links">
					<h4>Useful Links</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Terms of service</a></li>
						<li><a href="#">Privacy policy</a></li>
					</ul>
				</div>

				<div class="col-lg-2 col-md-3 footer-links">
					<h4>Our Services</h4>
					<ul>
						<li><a href="#">Web Design</a></li>
						<li><a href="#">Web Development</a></li>
						<li><a href="#">Product Management</a></li>
						<li><a href="#">Marketing</a></li>
						<li><a href="#">Graphic Design</a></li>
					</ul>
				</div>

				<div class="col-lg-2 col-md-3 footer-links">
					<h4>Hic solutasetp</h4>
					<ul>
						<li><a href="#">Molestiae accusamus iure</a></li>
						<li><a href="#">Excepturi dignissimos</a></li>
						<li><a href="#">Suscipit distinctio</a></li>
						<li><a href="#">Dilecta</a></li>
						<li><a href="#">Sit quas consectetur</a></li>
					</ul>
				</div>

				<div class="col-lg-2 col-md-3 footer-links">
					<h4>Nobis illum</h4>
					<ul>
						<li><a href="#">Ipsam</a></li>
						<li><a href="#">Laudantium dolorum</a></li>
						<li><a href="#">Dinera</a></li>
						<li><a href="#">Trodelas</a></li>
						<li><a href="#">Flexo</a></li>
					</ul>
				</div>

			</div>
		</div>

		<div class="container copyright text-center mt-4">
			<p>© <span>Copyright</span> <strong class="px-1 sitename">Medilab</strong> <span>All Rights Reserved</span></p>
			<div class="credits">
				Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href=“https://themewagon.com>ThemeWagon
			</div>
		</div>

	</footer>

	<!-- Scroll Top -->
	<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
	<div id="preloader"></div>

	<!-- Vendor JS Files -->
	<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/vendor/php-email-form/validate.js"></script>
	<script src="~/assets/vendor/aos/aos.js"></script>
	<script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
	<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>

	<!-- Main JS File -->
	<script src="~/assets/js/thangLongIndex.js"></script>

</body>

</html>